<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="sketchList.css" rel="stylesheet" />
    <script type="text/javascript" src="sketchListService.js"></script>
    <script type="text/javascript" src="sketchListController.js"></script>
    <script type="text/javascript" src="sketchList.js"></script>
</head>
<body class="win-type-body">
    <div class="sketchList fragment">
        <div id="sketchListController" class="data-container">
            <section aria-label="Main content" role="main" class="animationElement">
                <div class="contentarea win-type-body">
                    <div class="sketchList-template" data-win-control="WinJS.Binding.Template">
                        <div class="list-container">
                            <div class="list-img" data-win-bind="style.display: showImg Binding.Converter.toDisplay">
                                <img class="list-img-item" data-win-bind="src: srcImg">
                            </div>
                            <div class="list-svg" data-win-bind="style.display: showSvg Binding.Converter.toDisplay; innerHTML: srcSvg">
                            </div>
                            <div class="list-icon" data-win-bind="style.display: showIcon Binding.Converter.toDisplay">
                                <div class="list-icon-item" data-win-bind="name: nameIcon"></div>
                            </div>
                        </div>
                        <div class="list-caption-container">
                            <span class="win-type-caption win-type-ellipsis list-caption" data-win-bind="textContent: date"></span>
                        </div>
                    </div>
                    <div id="sketchList"
                         class="listview win-selectionstylefilled"
                         data-win-control="WinJS.UI.ListView"
                         data-win-options="{
                        itemTemplate: select('.sketchList-template')
                     }">
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>