<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="svgSketch.css" rel="stylesheet" />
    <script type="text/javascript" src="svg.js"></script>
    <script type="text/javascript" src="svgeditor.js"></script>
    <script type="text/javascript" src="svgSketchService.js"></script>
    <script type="text/javascript" src="svgSketchController.js"></script>
    <script type="text/javascript" src="svgSketch.js"></script>
</head>
<body class="win-type-body">
<div class="svgSketch fragment">
    <div id="svgSketchController" class="data-container">
        <section aria-label="Main content" role="main" class="animationElement">
            <div class="contentarea win-type-body">
                <div id="sketch" class="feature">
                    <div class="doc-container">
                        <div id="svgsketch" class="svgdiv"></div>
                    </div>
                    <div id="shapesToolbar" class="tool-box box-bkg">
                        <button id="tool0" class="win-button shape"
                                onclick="AppBar.handleEvent('click', 'clickTool', event)">
                            <div id="tool_freehand" class="tool-image"></div>
                        </button>
                        <button id="tool1" class="win-button shape"
                                onclick="AppBar.handleEvent('click', 'clickTool', event)">
                            <div id="tool_line" class="tool-image"></div>
                        </button>
                        <button id="tool2" class="win-button shape"
                                onclick="AppBar.handleEvent('click', 'clickTool', event)">
                            <div id="tool_square" class="tool-image"></div>
                        </button>
                        <button id="tool3" class="win-button shape"
                                onclick="AppBar.handleEvent('click', 'clickTool', event)">
                            <div id="tool_circle" class="tool-image"></div>
                        </button>
                        <button id="tool4" class="win-button shape"
                                onclick="AppBar.handleEvent('click', 'clickTool', event)">
                            <div id="tool_ellipse" class="tool-image"></div>
                        </button>
                    </div>
                    <div id="colorsToolbar" class="tool-box box-bkg">
                        <button id="tool_empty0" class="win-button shape"
                                onclick="AppBar.handleEvent('click', 'clickColor', event)"
                                style="background-color: black">
                            <div id="tool_black"></div>
                        </button>
                        <button id="tool_empty1" class="win-button shape"
                                onclick="AppBar.handleEvent('click', 'clickColor', event)"
                                style="background-color: blue">
                            <div id="tool_blue"></div>
                        </button>
                        <button id="tool_empty2" class="win-button shape"
                                onclick="AppBar.handleEvent('click', 'clickColor', event)"
                                style="background-color: red">
                            <div id="tool_red"></div>
                        </button>
                        <button id="tool_empty3" class="win-button shape"
                                onclick="AppBar.handleEvent('click', 'clickColor', event)"
                                style="background-color: yellow">
                            <div id="tool_yellow"></div>
                        </button>
                        <button id="tool_empty4" class="win-button shape"
                                onclick="AppBar.handleEvent('click', 'clickColor', event)"
                                style="background-color: green">
                            <div id="tool_green"></div>
                        </button>
                        <button id="tool_empty5" class="win-button shape"
                                onclick="AppBar.handleEvent('click', 'clickColor', event)"
                                style="background-color: gray">
                            <div id="tool_gray"></div>
                        </button>
                    </div>
                    <div id="widthsToolbar" class="tool-box box-bkg">
                        <div class="tool-box-width"
                             data-win-bind="style.borderBottomWidth: styleWidth; style.marginBottom: styleMargin; style.borderBottomColor: color">
                            <input id="swidth" type="range" min="1" max="10" step="1"
                                   data-win-bind="value: width"
                                   onchange="AppBar.handleEvent('change', 'changedWidth', event)"
                                   oninput="AppBar.handleEvent('change', 'changedWidth', event)"
                                   />
                        </div>
                        <div class="line-separator"></div>
                        <button id="clickWidth" class="win-button tool-ok"
                                onclick="AppBar.handleEvent('click', 'clickWidth', event)">
                            OK
                        </button>
                    </div>
                    <div>
                        <input id="fill" type="hidden" value="none"/>
                        <input id="stroke" type="hidden" value="black"/>
                        <input id="shape" type="hidden" value="polyline"/>
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>